<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <appSettings>
    <add key="restApiUser" value="REST_API_SETA" />

    <add key="restApiKey_MP1_prod" value="E430AFF32E4A44F1A99E24627EBEC5DEC6C0DB8EF02A4777B831EE2E174A1DB0" />
    <add key="restApiKey_MP1_preview" value="E474C1F063C64F7286379FF8FAD80EC86EDEDA4FC107415EABD805C098C74B67" />
    <add key="restApiKey_MP1_test" value="B4C39ECE5C1640538E325E4544C92821918F2D784A3A4AD4A833F3A5BDCDEFCF" />

    <add key="restApiKey_MP2_prod" value="51A4C9BA27C64C1BA36049E2D6A1D4A73D758F4B7C204E0B97E2AC59EECEB2A5" />
    <add key="restApiKey_MP2_preview" value="4CAA2E4BBBD24EFBA63716656BD1B529389A11F4B7B048B5A777607992FE2293" />
    <add key="restApiKey_MP2_test" value="CF3F5575B56146D6891C383B72936D885D441E7815F940CC923CA8FB9482A690" />

    <add key="restApiKey_MP3_prod" value="" />
    <add key="restApiKey_MP3_preview" value="" />
    <add key="restApiKey_MP3_test" value="" />
    
    
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>